<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
  
  
  
  <div class="card" >
          <img src="{{%IMAGE%}}" style="height: 450px;" class="card-img-top" alt="...">
        
          <div class="card-body">
           <h1>{{%NAME%}}</h1>
            <p>Color : {{%COLOR%}}</p>
            <p>ROM : {{%ROM%}}</p>
            <p>Model Name : {{%MODEL%}}</p>
            <p>modelNumber : {{%MODELNO%}}</p>
            <p>Size : {{%SIZE%}}</p>
            <p>{{%DESC%}}</p>
            <h3>Camera : {{%CAMERA%}}</h3>
            <h3>Price : {{%PRICE%}}</h3>
        </div>
    </div>
    
    
    </div>
    </div>
    </div>