<div class="container">
  <div class="row justify-content-center">
      <div class="col-lg-8">



<div class="card" >
        <img src="{{%IMAGE%}}" style="height: 450px;" class="card-img-top" alt="...">
      
        <div class="card-body">
            <h3>{{%NAME%}}</h3>
            <p><span>Model Name:</span>{{%MODEL%}}</p>
            <p><span>Model Number:</span>{{%MODELNO%}}</p>
            <p><span>Size:</span>{{%SIZE%}}</p>
            <p><span>Camera:</span>{{%CAMERA%}}</p>
     
              <h4>Price: {{%PRICE%}}</h4>
              <button class="btn btn-primary">Buy Now</button>
              <a href="/product?id={{%ID%}}" class="btn btn-secondary">Show Details</a>
                
          </div>
</div>


</div>
</div>
</div>
        






